/* ======================================================= 
    Variables
========================================================== */

:root { 
  --mintGreen: #13e28c; 
  --buttonColor: #ffff49;
  --gray-light: #f8f8f8;
  --gray-placeholder: #767676;
  /* --gray-med: #d3d3d3; */
}

/* ======================================================= 
    Typography
========================================================== */

header h1 { 
  display: inline-block; 
}

/* ======================================================= 
    Styles
========================================================== */

header {
  padding: 15px 25px;
  background-color: var(--mintGreen);
  background-color: #13e28c;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.5);
}

header form input[type="text"] {
  border: none;
  padding: 5px 10px;
  /* margin-left: 39px; */
}

@media screen and (max-width: 500px) {
  header form input[type="text"] {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

header form input[type="file"] {
  border: none;
  padding: 10px 0;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* header form input[type="file"] + label {
    cursor: pointer;
} */

.file-select {
  color: var(--gray-placeholder);
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  font-family: system-ui;
  font-size: 11px;
  border-radius: 3px 0 0 3px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.input-file-submit {
  border-radius: 0 3px 3px 0;
}

.input-url {
  border-radius: 3px 0 0 3px;
}

.input-url-submit {
  border-radius: 0 3px 3px 0;
}

header form input[type="submit"] {
  border: none;
  padding: 5px 10px;
  /* background-color: var(--buttonColor); */
  /* background-color: #ffff57; */
  background-color: var(--gray-light);
}

#searched-image img {
  display: block;
  margin: 0 auto;
  /* min-width: 50vw; */
  width: 100%; /* Makes images responsive. Parent is `main` */
}

/* @media screen and (min-width: 768px) {
  #searched-image img {
    /* width: 50%; * /
    width: 100%
    /* height: auto; * /
  }
} */

/* @media screen and (max-width: 500px) {
  #searched-image img {
    /* width: 80%; * /
    width: 100%; /* Crucial for mobile viewports, otherwise header & footer get cut off */
    /* height: auto; * /
  }
} */

footer {
  width: 100%;
  height: 50px;
  margin-top: 3em;
  /* position: fixed; */
  bottom: 0;
  background-color: var(--mintGreen);
  /* background-color: #13e28c; */
}

footer p { text-align: center; }

/* ======================================================= 
    Media Queries
========================================================== */

@media screen and (min-width: 55rem) {
  .App main {
    width: 55rem;
  }
  #searched-image img {
    width: 80%;
  }
}

/* ======================================================= 
    Layout
========================================================== */

/* Responsive Layout - Fallback */

.App main {
  margin: 0 auto;
  /* width: 95%; */
  font-size: 1.5rem;
}

.App main {
  /* width: 33em; */
  /* max-width: 50em; */
  max-width: 55rem; /* constrains image width */
  margin: 0 auto;
}

header h1 {
  /* max-width: 20em; */
  /* display: block; */
  /* width: 40em; */
  /* margin: 0 auto; */
}

.header-container {
  /* max-width: 50em; */
  max-width: 55rem;
  display: flex;
  margin: 0 auto;
  /* width: 60em; */
  flex-direction: column;
  /* justify-content: center; */
}

/* Layouts for browsers with CSS Grid support */

@supports (grid-area: auto) {
  .App {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  main {
    display: grid;
    align-items: start;
    grid-auto-rows: minmax(min-content, max-content);
  }

  #goal-message {
    display: block; /* Can't add margin-top to inline */
    margin-top: 20px;
    /* align-self: start; */
  }

  #checker {

  }
}