/* ================================= 
  Page Components
==================================== */

.header-container form {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10em 13em 9em;
  grid-row-gap: 10px;
  /* grid-auto-flow: column; */
  /* align-items: start; */
}

.file-select {
  width: 100%;
}

.input-file-submit,
.input-url-submit {
  text-align: left;
}
